.headerText{
	color: white;
	text-align: center;
	font-size: 30px;
}

#correct, #incorrect{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	text-align: left;
	color: purple;
	
}

#timer{
	font-size: 25px;
	color: teal;

}